<%-include('partials/head')%>
<%-include('partials/nav')%>

<div class="container">
    <h1>Make a new comment</h1>
    <form action="/comments" method="post">
        <section>
            <label for="username">Username:</label>
            <input class="form-control" type="text" id="username" placeholder="username" name="username">
        </section>
        <section>
            <label for="comment">Comment:</label>
            <br>
            <textarea class="form-control" name="comment" id="comment" cols="30" rows="5"></textarea>
        </section>
        <br>
        <button class="btn btn-primary">Submit</button>
    </form>
    <a href="/comments">All Comments</a>
</div>

<%-include('partials/footer')%>